.binary_tree{
    text-align: center;
    width: 100%;
}

.cards{
    border: 1px solid gray;
    padding: 2px;
    box-shadow: 1px 1px 1px 2px gray;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;
}

.card_label{
    font-size: 2px;
}

.divider{
    width: 100%;
    margin-top: 3em;
}

.dividerLeft{
    border-right: 1px solid black;
    width: 49.5%;
    text-align: center;
    float: left;
    overflow: hidden;
}

.dividerRight{
    border-left: 1px solid black;
    width: 49.5%;
    text-align: center;
    float: left;
}