body {
    padding-top: 50px;
}


/*
* Global add-ons
*/

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
    border: 0;
}

/*
* Sidebar
*/

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
.menu-desktop {
    display: none;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.w3-sidebar {
    height: 100%!important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed!important;
    z-index: 1!important;
    overflow: auto!important;
}

@media (min-width: 768px) {
    .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #00674b;
    border-right: 1px solid #eee;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
    }

    .menu-desktop {
        display: block;
    }

    .w3-sidebar {
        display: none!important;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background: linear-gradient(to right, #009E60, #D0F0C0);
}


    

/*
* Main content
*/

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
    padding-right: 40px;
    padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
* Placeholder dashboard ideas
*/

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.navbar-fixed-top {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
    background: white;
}

.nav-sidebar > li > a{
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    color:black;
}

.nav-sidebar > li > a:hover{
    color:black;
    background: linear-gradient(to right, #009E60, #D0F0C0)!important;
}

.nav-sidebar > li > a.li-group:hover {
    color:black;
    background: transparent!important;
}

.nav-sidebar > li > .nav-sidebar > li > a{
    padding-left: 65px!important;
}


.dt-body-right{
    text-align:right!important;
}

.dropdown-container > .nav-sidebar > li > a {
    color:black;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.dropdown-container > .nav-sidebar > li >.nav-sidebar > li > a{
    color:black;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.dropdown-container > .nav-sidebar > li >.nav-sidebar{
    margin-bottom: 0px!important;
}

.btn {
    line-height: 1.5715!important;
    position: relative!important;
    display: inline-block!important;
    font-weight: 400!important;
    white-space: nowrap!important;
    text-align: center!important;
    background-image: none!important;
    border: 1px solid transparent!important;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.015)!important;
    box-shadow: 0 2px 0 rgba(0,0,0,.015)!important;
    cursor: pointer!important;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1)!important;
    transition: all .3s cubic-bezier(.645,.045,.355,1)!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    -ms-touch-action: manipulation!important;
    touch-action: manipulation!important;
    height: 32px!important;
    padding: 4px 15px!important;
    font-size: 14px!important;
    border-radius: 2px!important;
    color: rgba(0,0,0,.65)!important;
    background: #fff!important;
    border-color: #d9d9d9!important;
}

.btn-default {
    color: #fff!important;
    background: #00674b!important;
    border-color: #00674b!important;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12)!important;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.045)!important;
    box-shadow: 0 2px 0 rgba(0,0,0,.045)
}

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    color: white;
    display: block;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.dropdown-container {
    display: none;
    background-color: #F5F7FA;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-chevron-down {
    float: right;
    padding-right: 8px;
}

@media (min-width: 768px){
    .navbar-collapse.collapse {
        display:none!important;
    }
}

body {
    background: #F5F7FA!important;
    font-family: 'Poppins', sans-serif!important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 120px;
    margin: auto;
    text-align: center;
    background:white;
    border-radius:3px;
}

.package-type {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #00674b;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}


.form-control{
    -webkit-box-sizing: border-box!important;
    box-sizing: border-box!important;
    margin: 0!important;
    padding: 0!important;
    font-variant: tabular-nums!important;
    list-style: none!important;
    -webkit-font-feature-settings: 'tnum'!important;
    font-feature-settings: 'tnum'!important;
    position: relative!important;
    display: inline-block!important;
    width: 100%!important;
    min-width: 0!important;
    padding: 4px 11px!important;
    color: rgba(0,0,0,.65)!important;
    font-size: 14px!important;
    line-height: 1.5715!important;
    background-color: #fff!important;
    background-image: none!important;
    border: 1px solid #d9d9d9!important;
    border-radius: 2px!important;
    -webkit-transition: all .3s!important;
    transition: all .3s!important;
}

.profile_img
{
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52,73,94,0.44);
    padding: 4px;
}

.profile_pic
{
    width:35%;
    float: left;
}

.profile_info
{
    padding: 25px 10px 10px;
    width: 65%;
    float: left;
}

.profile_info h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300;
}