body{
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    margin: 0px;
    margin-bottom: 0.5em;
}

.header{
    background: linear-gradient(-45deg, #ed1c24, #890005);
    box-sizing: border-box;
    padding: 20px;
}

.acticle{
    overflow: hidden;
}

.sider{
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    background-color: yellowgreen;
    height: 100vh;
}

.article{
    height: 100vh;
}

.content{
    width: 80%;
    float: right;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.footer{
    box-sizing: border-box;
    padding: 10px;
    background-color: #03242c;
}

.tiles{
    border: 1px solid gray;
    padding: 10px;
    box-shadow:0px 1px 4px 0px rgba(0,0,0,0.08);
    /* box-shadow: 1px 1px 1px 2px gray; */
    border-radius: 6px;
    /* border-radius: 5px; */
    width: 98%;
    float: left;
    margin: 1%;
    background:#ffffff;
}

.tiles #title{
    font-size: 1.3em;
    font-weight: bold;
    color: #2c2e2f;
}

.tiles #title_controls{
    
}

#amount{
    font-size: 2.5em;
}

.mobile{
    width: 25%; margin: 0 auto;
}

#nav-brand-logo{
    width:75px; 
    margin-top: -1.5em; 
}


#nav-brand-text{
    font-size: 2em;
    padding-left: 0px;
}


.announcement{
    width: 100%;;
    height: 100vh;
    background-color: #03242c;
    position: absolute;
    z-index: 5000;
}

@media only screen and (max-width: 720px){
    .tiles{
        border: 1px solid gray;
        padding: 10px;
        box-shadow:0px 1px 4px 0px rgba(0,0,0,0.08);
        border-radius: 6px;
        width: 98%;
        float: left;
        margin: 1%;
        
    }
     
    .mobile{
        width: 90%; margin: 0 auto;
    }

   #desktop_logout{
       display: none;
   }

    #nav-brand-logo{
        width:50px; 
        margin-top: -0.8em; 
        margin-right: 0px;
    }

    #nav-brand-text{
        width: 60%;
        font-size: 1.5em;
        padding-left: 0px;
        margin-left: 0px;
    }

    #nav_tabs{
        width:100%;
    }
}


@media only screen and (max-width: 320px){
    .tiles{
        border: 1px solid gray;
        padding: 10px;
        box-shadow:0px 1px 4px 0px rgba(0,0,0,0.08);
        border-radius: 6px;
        width: 98%;
        float: left;
        margin: 1%;
        
    }
     
    .mobile{
        width: 90%; margin: 0 auto;
    }

    #desktop_logout{
        display: none;
    }

    #nav-brand-logo{
        width:50px; 
        margin-top: -0.8em; 
    }

    #nav-brand-text{
        width: 55%;
        font-size: 1.2em;
        padding-left: 0px;
    }

    #nav_tabs{
        width:100%;
    }
}

