/* body{
    margin: 0px;
    padding: 0px;
}
.header{
    background: white;
    padding: 1em;
    box-shadow: 2px 2px 2px gray;;
}
.body{
    overflow: hidden;
} */

#sider{
    display: block;
}

/* .sider{
    width: 100%;
    border-right: 1px solid black;
    height: 100vh;
    padding: 20px 0px;
    box-sizing: border-box;
    position:absolute;
    z-index: 10;
    background-color: #00674b;
    color:white;
    margin: 0px;
} */


@media (min-width: 768px) {
    .sider {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 50px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #00674b;
    border-right: 1px solid #eee;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12);
    }
}

.sider ul{
    list-style-type: none;
}

.sider a{
    color: white;
    font-size: 1.2em;
    
}

.sider a:hover{
    color:red;
}
/* 
.content{
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.datas{
    float: left;
    width: 49%;
    height: 100vh;
}

.forms{
    float: right;
    width: 49%;
} */

/* 

.tiles{
    border: 1px solid gray;
    padding: 10px;
    box-shadow:0px 1px 4px 0px rgba(0,0,0,0.08);
    /* box-shadow: 1px 1px 1px 2px gray; */
    /* border-radius: 6px; */
    /* border-radius: 5px; */
    /* float: left;
    margin: 1%;
    background:#ffffff;
} */

.tiles #title{
    font-size: 1.3em;
    font-weight: 500;
    color: #2c2e2f;
} 

#bronze{

    background-color: #ce8142;
}

#silver{

    background-color: #f3f2f2;
}

#gold{

    background-color: #f1da03ec;
}

#platinum{
    background-color: #e2dddd;
}